$mainColor: #333;
$text: white;
$crosshairColor: #ff0000;

* {
  box-sizing: border-box;
}

html {
  font-size: 9px;
}

body {
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  position: relative;
  color: $text;
  overflow: hidden;
  background-color: transparent;
  margin: 0;
}

// Mini bootstrap
.d-flex {
  display: flex;
}

.flex-center {
  @extend .d-flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.mt-2 {
  margin-top: 6px;
}

.mt-3 {
  margin-top: 12px;
}

.mb-2 {
  margin-bottom: 6px;
}

.ml-2 {
  margin-left: 6px;
}

.m-0 {
  margin: 0;
}

.crosshair-container {
  width: 100%;
  height: 100%;
  position: relative;

  .crosshair {
    position: absolute;
    width: 1px;
    height: 1px;

    & > div {
      position: absolute;
      background-color: $crosshairColor;
    }

    .end {
      position: absolute;
      background-color: $crosshairColor;
    }

    .left,
    .right {
      height: 1px;

      .end {
        height: 5px;
        width: 1px;
        top: -2px;
      }
    }

    .top,
    .bottom {
      width: 1px;

      .end {
        height: 1px;
        width: 5px;
        left: -2px;
      }
    }

    @each $position in [ 'top', 'bottom', 'left', 'right' ] {
      .#{$position} .end {
        #{$position}: 0;
      }
    }

    .info {
      font-size: 14px;
      position: absolute;
      top: -40px;
      left: 0;
      margin-left: 10px;
      background-color: rgba(51, 51, 51, 0.6);
      border: 1px solid $text;
      color: $text;
      border-radius: 6px;
      padding: 6px 4px;
      white-space: nowrap;
    }
  }
}
